@import "variables", "maps" ;

body {
        font-family:sans-serif $colorSecundario; 
        background-color: #fff1f1;
        overflow:visible
        
    }

.carousel-inner { 
    max-height: 35rem;

}

.contenedorcards {
    width: 100%;
    text-align: center;
    
}

.navbar {
    background-color: $colorSecundario;
   
}


header {
    justify-content: space-between;
}

nav {
    grid-area:nav;
}


@media  (orientation: landscape) and (max-width: 950px)   {
    body{
    background-color: rgb(233, 159, 233);
     }
}


.unite {
    transition: all 1s; 
    &:hover {
        background-color: $colorSecundario ;
      }      
  }


  @mixin tamanotitulo{
   font-size:38px;
  }

  @mixin fuentetitulo {
    font-family:monospace;
  }

.unitetitulo {
    font-family:monospace;
    font-size: 38px;
  }

  .unitetexto {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
  }
  
 .contactotitulo  {
  @include tamanotitulo;
  @include fuentetitulo;
 }

 .contactotexto {
  @extend .unitetexto;
 }


#inputHeader {
    background-color: $Lilaclaro;
    border-radius: 45%;
    margin: 8px;
    &:hover {
        background-color: #602d85;
    }
}
  
footer{
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: $colorSecundario;
    justify-items: center;
    button:active {
        background-color:$Lilaclaro;
    }
    footer {
        a:active {
            background-color:$Lilaclaro;
          
        }
     }
}

/*
.bi-whatsapp {
    margin: 5px;
    color: lightcoral;
}

.bi-facebook{
    margin: 5px;
    color: lightcoral;  
}

.bi-instagram {
    margin: 5px;
    color: lightcoral;   
}

 .botonesredes .p-3 .footer1{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    align-items: flex-end;
 } */