@import "variables", "maps";

/* RESET */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

/* HEADER, NAV BAR Y SUS BOTONES */
.navbar {
    background-color: $colorSecundario;
}

header {
    justify-content: space-between;
}

#inputHeader {
    background-color: $Lilaclaro;
    border-radius: 20px;
    padding: 5px;
    margin: 8px;

    &:hover {
        background-color: #602d85;
    }
}

/* ESTILOS GENERALES EN LOS BODY DE TODOS LOS HTML */
body {
    font-family: sans-serif $colorSecundario;
    background-color: #fff1f1;
    overflow: visible;
    margin: 0;
}

html,
body {
    min-height: 100%;
}

@media (orientation: landscape) and (max-width: 950px) {
    body {
        background-color: rgb(233, 159, 233);
    }
}

.unite {
    transition: all 1s;

    &:hover {
        background-color: $colorSecundario ;
    }
}

@mixin tamanotitulo {
    font-size: 38px;
}

@mixin fuentetitulo {
    font-family: monospace;
}

.unitetitulo {
    font-family: monospace;
    font-size: 38px;
}

.unitetexto {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.contactotitulo {
    @include tamanotitulo;
    @include fuentetitulo;
}

.contactotexto {
    @extend .unitetexto;
}

.ultimoelemento {
    margin-bottom: 20%;
}

/* ESTILOS PARA CAROUSEL Y CARDS */

.carousel-inner {
    max-height: 35rem;
}

.contenedorcards {
    width: 100%;
    text-align: center;
}


/* FOOTER Y BOTONES DE FOOTER */
footer {
    display: flex;
    justify-items: center;
    justify-content: center;
    background-color: $colorSecundario;
    justify-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;

    button:active {
        background-color: $Lilaclaro;
    }
    footer {
        a:active {
            background-color: $Lilaclaro;
        }
    }
}

.botonesredes {
    height: 30px;
}

.bi-whatsapp {
    margin: 5px;    
}

.bi-facebook {
    margin: 5px;   
}

.bi-instagram {
    margin: 5px;
}